{% extends 'games/base.html' %}

{% block title %}{{ game.title }} - Game Compilation{% endblock %}

{% block content %}
    <a href="{% url 'games:home' %}" class="back-link">&larr; Back to all games</a>
    <section class="game-detail">
        <h2>{{ game.title }}</h2>
        {% if game.thumbnail %}
            <img src="{{ game.thumbnail.url }}" alt="{{ game.title }}" class="game-detail-thumbnail">
        {% endif %}
        {% if game.description %}
            <p>{{ game.description }}</p>
        {% endif %}
        {% if game.play_url %}
            <a class="play-button" href="{{ game.play_url }}">Play</a>
        {% endif %}
    </section>
{% endblock %}
